html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding-top: 100px;
    box-sizing: border-box;
    background-color: #222230;
    color: #b2b9cf;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}
#desktop-header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 34, 48, 0.9);
    box-shadow: 0px 2px 15px rgba(6, 16, 31, 1);
    position: fixed;
    top: 0;
    padding-left: 60px;
    padding-right: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}
#mobile-header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 34, 48, 0.9);
    box-shadow: 0px 2px 15px rgba(6, 16, 31, 1);
    position: fixed;
    top: 0;
    padding-left: 60px;
    padding-right: 30px;
    box-sizing: border-box;
    display: none;
    justify-content: space-between;
    z-index: 999;
}
.logo {
    color: white;
    width: fit-content;
    height: fit-content;
    font-family: 'Dancing Script', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 3px 15px;
    border: 2px solid #5dedcd;
    margin-top: 12px;
    margin-bottom: 12px;
}
.nav-list {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 25px;
}
.nav-list li {
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
}
.teal {
    color: #5dedcd;
}
a {
    text-decoration: none;
    color: #b2b9cf;
    cursor: pointer;
    transition: 0.3s ease-out;
}
a:hover {
    color: #5dedcd;
}
main {
    width: 75%;
    height: fit-content;
    margin: auto;
    z-index: 1;
    
}
/*first section first section first section*/
#first {
    width: 100%;
    height: 80vh;
    font-size: 22px;
}
.khalid {
    color: #e3e6f0;
    font-size: 80px;
    font-weight: 900;
}
.web-dev {
    font-size: 80px;
    font-weight: 900;
    color: #969caf;
}
button {
    width: fit-content;
    height: fit-content;
    padding: 20px 35px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #5dedcd;
    background-color: #222230;
    color: #5dedcd;
    font-size: 18px;
    font-family: 'League Spartan', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
button:hover {
    background-color: rgba(93, 237, 205, 0.2);
}
.mob-scroll {
    display: none;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    background-color: rgba(93, 237, 205, 0.2);
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
}
/*first section ends!!!! first section ends!!!! first section ends!!!!*/

/*vert section vert section vert section*/
#vert {
    width: 65px;
    height: fit-content;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 60px;
}
#vert div {
    width: 1px;
    height: 150px;
    margin: auto;
    background-color: #5dedcd;
}
.social-img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.social-img:hover {
    transform: scale(1.2);
    background-color: rgba(93, 237, 205, 0.5);
}
/*vert section vert section vert section ENDS!!!*/
#mob-foot-links {
    width: 80%;
    height: fit-content;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 60px;
    display: none;
    justify-content: space-between;
}

/* MOVING vert section vert section vert section*/
#moving-vert {
    width: 50px;
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 60px;
}
#moving-vert div {
    width: 1px;
    height: 300px;
    margin: auto;
    background-color: #5dedcd;
    animation: moving 4s ease-in-out infinite;
}
@keyframes moving {
    0% {
        position: relative;
        bottom: 1px;
        height: 220px;
    }
    50% {
        position: relative;
        bottom: 550px;
        height: 1px;
    }
    100% {
        position: relative;
        bottom: 1px;
        height: 220px;
    }
} 
/* MOVING vert section ENDS!! vert section vert section*/

/*ABOUT ME section vert section vert section*/
#about {
    width: 100%;
    height: fit-content;
    border-right: 1px solid #5dedcd;
    padding-top: 50px;
    margin-bottom: 100px;
}
.afis-link {
    color: #5dedcd;
    transition: all 0.3s ease;
}
.afis-link:hover {
    text-decoration: underline;
}

.heading {
    width: 60%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    height: fit-content;
    color: #e3e6f0;
    font-size: 35px;
    font-weight: 900;
    margin-right: 30px;
}
.horizon-line {
    width: 60%;
    height: 1px;
    background-color: #5dedcd;
}
.half1 {
    width: 55%;
}
.word {
    line-height: 25px;
}
#about-flex {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.half2 {
    width: 25%;
    height: fit-content;
    display: block;
    background-color: #5dedcd;
}
.khalid-img {
    width: 100%;
    height: auto;
    opacity: 0.6;
}

/*ABOUT ME section ends!!*/

/*WORKS section vert section vert section*/
#works {
    width: 100%;
    height: fit-content;
    padding-top: 65px;
}
.heading2 {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.horizon-line2 {
    width: 40%;
    height: 1px;
    background-color: #5dedcd;
}
.heading3-mob {
    width: 100%;
    height: fit-content;
    display: none;
    align-items: center;
    justify-content: space-between;
}
.work-container {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.work-container-mobile {
    width: 100%;
    height: fit-content;
    display: none;
    justify-content: center;
    margin-bottom: 200px;
}
.fadey {
    width: 100%;
    height: fit-content;
    display: none;
    margin-bottom: 100px;
}
.fadeyOut { opacity: 0; display: none;}
.fadeyIn { opacity: 1; display: none;}
.work-img-div {
    width: 50%;
    height: fit-content;
    background-color: #5dedcd;
    position: relative;
    top: 130px;
    border-right: 1px solid #5dedcd;
}
.work-img-div2 {
    width: 50%;
    height: fit-content;
    background-color: #5dedcd;
    position: relative;
    top: 130px;
    border-left: 1px solid #5dedcd;
}
.work-img {
    width: 100%;
    height: auto;
    opacity: 0.8;
    transition: all 0.3s ease;
}
.work-img:hover {
    opacity: 1;
}
.work-img2 {
    width: 100%;
    height: auto;
    opacity: 0.8;
    transition: all 0.3s ease;
}
.work-img2:hover {
    opacity: 1;
}
.caption-box {
    width: 50%;
    height: fit-content;
    text-align: right;
    display: block;
    border-left: 1px solid #5dedcd;
}
.caption-box2 {
    width: 50%;
    height: fit-content;
    text-align: left;
    display: block;
    border-right: 1px solid #5dedcd;
}
.caption {
    width: 100%;
    height: fit-content;
    padding: 20px;
    box-sizing: border-box;
    background-color: #3c3c53;
    box-shadow: 0px 2px 15px rgba(6, 16, 31, 1);
}
.project-title {
    font-weight: 900;
    font-size: 30px;
}
/*WORKS section ends!!!*/

/*CONTACT section vert section vert section*/
footer {
    width: 75%;
    height: fit-content;
    margin: auto;
    z-index: 1;
    text-align: center;
    margin-bottom: 30px;
}
.foot-talk {
    width: 60%;
    line-height: 25px;
    height: fit-content;
    margin: auto;
}
.foot-heading {
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.get-in {
    font-size: 50px;
    font-weight: 900;
    color: #e3e6f0;
}
.dot {
    color: #e3e6f0;
    animation: tayun 5s ease-out infinite;
}
@keyframes tayun {
    0%, 100% {
        color: #e3e6f0;
        position: relative;
        left: 0;
    }
    50% {
        color: #5dedcd;
        position: relative;
        left: 100px;
    }
}
#top {
    width: 45px;
    height: fit-content;
    background-color: rgba(93, 237, 205, 0.1);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 63px;
}
#top div {
    width: 1px;
    height: 50px;
    margin: auto;
    background-color: #5dedcd;
}
.copyright {
    font-size: 13px;
}

/*mobile site starts!!!!!!!!!!!!!!!!!!!!!!*/ /*mobile site starts!!!!!!!!!!!!!!!!!!!!!!*/ /*mobile site starts!!!!!!!!!!!!!!!!!!!!!!*/
/*mobile site starts!!!!!!!!!!!!!!!!!!!!!!*/ /*mobile site starts!!!!!!!!!!!!!!!!!!!!!!*/ /*mobile site starts!!!!!!!!!!!!!!!!!!!!!!*/
/*mobile site starts!!!!!!!!!!!!!!!!!!!!!!*/ /*mobile site starts!!!!!!!!!!!!!!!!!!!!!!*/ /*mobile site starts!!!!!!!!!!!!!!!!!!!!!!*/

@media (max-width: 780px) {
    html {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
        margin: 0;
        padding-top: 100px;
        box-sizing: border-box;
        background-color: #222230;
        color: #b2b9cf;
        font-family: 'League Spartan', sans-serif;
        font-size: 20px;
    }
    #desktop-header {
        height: 65px;
        width: 100%;
        background-color: rgba(34, 34, 48, 0.9);
        box-shadow: 0px 2px 15px rgba(6, 16, 31, 1);
        position: fixed;
        top: 0;
        padding-left: 60px;
        padding-right: 30px;
        box-sizing: border-box;
        display: none;
        justify-content: space-between;
        z-index: 999;
    }
    #mobile-header {
        height: 65px;
        width: 100%;
        background-color: rgba(34, 34, 48, 0.9);
        box-shadow: 0px 2px 15px rgba(6, 16, 31, 1);
        position: fixed;
        top: 0;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        z-index: 999;
        align-items: center;
    }
    .dropdown {
        width: 30%;
        height: 100%;
        text-align: center;
        position: absolute;
        right: 5px;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        right: -5px;
        top: 65px;
        width: 100vw;
        overflow: auto;
        box-shadow: 0px 2px 15px rgba(6, 16, 31, 1);
        z-index: 2;
    }
    #myDropdown {
        background: #222230;
    }
    .dropdown-content a {
        font-size: 20px;
        padding: 30px 16px;
        text-decoration: none;
        display: block;
        transition: 0.3s ease;
    }
    .dropdown a:hover {
        background-color: rgba(93, 237, 205, 0.2);
    }
    .show {
        display: block;
    }
    .dropbtn {
        width: 25px;
        height: 25px;
        background-image: url('https://img.icons8.com/fluency-systems-regular/344/ffffff/drag-list-down.png');
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 20px;
        position: -webkit-relative; /* Safari */
        position: relative;
        top: 17px;
        right: -80px;
        opacity: 1;
        z-index: 2;
        cursor: pointer;
    }
    .logo {
        color: white;
        width: fit-content;
        height: fit-content;
        font-family: 'Dancing Script', sans-serif;
        font-weight: 700;
        font-size: 16px;
        padding: 5px 15px;
        box-sizing: border-box;
        border-radius: 3px 15px;
        border: 2px solid #5dedcd;
    }
    
    .teal {
        color: #5dedcd;
    }
    a {
        text-decoration: none;
        color: #b2b9cf;
        cursor: pointer;
        transition: 0.3s ease-out;
    }
    a:hover {
        color: #5dedcd;
    }
    main {
        width: 90%;
        height: fit-content;
        margin: auto;
        z-index: 1;
        
    }
    /*first section first section first section*/
    #first {
        width: 100%;
        height: 80vh;
        font-size: 19px;
        padding-top: 80px;
    }
    .khalid {
        color: #e3e6f0;
        font-size: 45px;
        font-weight: 900;
    }
    .web-dev {
        font-size: 45px;
        font-weight: 900;
        color: #969caf;
    }
    button {
        width: fit-content;
        height: fit-content;
        padding: 20px 35px;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid #5dedcd;
        background-color: #222230;
        color: #5dedcd;
        font-size: 18px;
        font-family: 'League Spartan', sans-serif;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }
    button:hover {
        background-color: rgba(93, 237, 205, 0.2);
    }
    .mob-scroll {
        display: block;
        width: fit-content;
        height: fit-content;
        font-size: 20px;
        color: #e3e6f0;
        background-color: #222230;
        padding: 0px, 0px;
        transform: rotate(90deg);
        position: absolute;
        left: -20px;
        bottom: 20px;
        animation: scrolling 1.5s ease-in-out infinite;
    }
    @keyframes scrolling {
        0%, 100% {
            position: absolute;
            bottom: 20px;
        }
        50% {
            position: absolute;
            bottom: 35px;
        }
    }
    /*first section ends!!!! first section ends!!!! first section ends!!!!*/
    
    /*vert section vert section vert section*/
    #vert {
        width: 65px;
        height: fit-content;
        text-align: center;
        position: fixed;
        bottom: 0;
        right: 60px;
        display: none;
    }
    #vert div {
        width: 1px;
        height: 150px;
        margin: auto;
        background-color: #5dedcd;
    }
    .social-img {
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }
    .social-img:hover {
        transform: scale(1.2);
        background-color: rgba(93, 237, 205, 0.5);
    }
    /*vert section vert section vert section ENDS!!!*/

    #mob-foot-links {
        width: 75%;
        height: fit-content;
        position: static;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .social-img {
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }
    .social-img:hover {
        transform: scale(1.2);
        background-color: rgba(93, 237, 205, 0.5);
    }
    
    /* MOVING vert section vert section vert section*/
    #moving-vert {
        width: 50px;
        height: fit-content;
        position: absolute;
        bottom: 0;
        left: 60px;
    }
    #moving-vert div {
        width: 1px;
        height: 300px;
        margin: auto;
        background-color: #5dedcd;
        animation: moving 4s ease-in-out infinite;
        display: none;
    }
    @keyframes moving {
        0% {
            position: relative;
            bottom: 1px;
            height: 220px;
        }
        50% {
            position: relative;
            bottom: 550px;
            height: 1px;
        }
        100% {
            position: relative;
            bottom: 1px;
            height: 220px;
        }
    } 
    /* MOVING vert section ENDS!! vert section vert section*/
    
    /*ABOUT ME section vert section vert section*/
    #about {
        width: 100%;
        height: fit-content;
        border-right: none;
        padding-top: 50px;
        margin-bottom: 50px;
    }
    
    .heading {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h1 {
        width: fit-content;
        height: fit-content;
        padding: 0;
        color: #e3e6f0;
        font-size: 20px;
        font-weight: 900;
    }
    .horizon-line {
        width: 55%;
        height: 1px;
        background-color: #5dedcd;
    }
    .half1 {
        width: 100%;
        height: fit-content;
    }
    .word {
        line-height: 25px;
    }
    #about-flex {
        width: 100%;
        height: fit-content;
        display: block;
    }
    .half2 {
        width: 45%;
        height: fit-content;
        margin-top: 50px;
        display: block;
        background-color: #5dedcd;
        position: relative;
        left: 50%;
    }
    .khalid-img {
        width: 100%;
        height: auto;
        opacity: 0.6;
    }
    /*ABOUT ME section ends!!*/
    
    /*WORKS section vert section vert section*/
    #works {
        width: 100%;
        height: fit-content;
        padding-top: 65px;
    }
    .heading2 {
        width: 100%;
        height: fit-content;
        display: none;
        align-items: center;
        justify-content: space-between;
    }
    .horizon-line2 {
        width: 40%;
        height: 1px;
        background-color: #5dedcd;
        display: none;
    }
    .heading3-mob {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .work-container {
        width: 100%;
        height: fit-content;
        display: none;
        justify-content: center;
        margin-bottom: 200px;
    }
    .fadey {
        width: 100%;
        height: fit-content;
        display: block;
        margin-bottom: 200px;
        transition: all 0.4s ease;
    }
    .fadeyOut { opacity: 0; }
    .fadeyIn { opacity: 1; }
    .work-img-div {
        width: 100%;
        height: fit-content;
        border-right: none;
        background-color: #222230;
        position: relative;
        top: 0px;
    }
    .work-img-div2 {
        width: 100%;
        height: fit-content;
        background-color: #5dedcd;
        border-left: none;
    }
    .work-img {
        width: 100%;
        height: auto;
        opacity: 1;
        transition: all 0.3s ease;
    }
    .work-img2 {
        width: 100%;
        height: auto;
        opacity: 1;
        transition: all 0.3s ease;
    }
    .caption-box {
        width: 80%;
        height: fit-content;
        text-align: right;
        display: block;
        border-left: 1px solid #5dedcd;
    }
    .caption-box2 {
        width: 80%;
        height: fit-content;
        text-align: left;
        display: none;
        border-right: 1px solid #5dedcd;
    }
    .caption {
        width: 100%;
        height: fit-content;
        padding: 10px 10px;
        box-sizing: border-box;
        background-color: #3c3c53;
        box-shadow: 0px 2px 15px rgba(6, 16, 31, 1);
    }
    .project-title {
        font-weight: 900;
        font-size: 30px;
    }
    /*WORKS section ends!!!*/
    
    /*CONTACT section vert section vert section*/
    footer {
        width: 95%;
        height: fit-content;
        margin: auto;
        z-index: 1;
        text-align: center;
        margin-bottom: 30px;
    }
    .foot-talk {
        width: 90%;
        font-size: 20px;
        line-height: 25px;
        height: fit-content;
        margin: auto;
    }
    .foot-heading {
        width: fit-content;
        height: fit-content;
        margin: auto;
        display: none;
    }
    .get-in {
        font-size: 40px;
        font-weight: 900;
        color: #e3e6f0;
    }
    .dot {
        color: #e3e6f0;
        animation: tayun 5s ease-out infinite;
    }
    @keyframes tayun {
        0%, 100% {
            color: #e3e6f0;
            position: relative;
            left: 0;
        }
        50% {
            color: #5dedcd;
            position: relative;
            left: 100px;
        }
    }
    #top {
        width: 45px;
        height: fit-content;
        background-color: rgba(93, 237, 205, 0.1);
        font-size: 15px;
        text-align: center;
        display: block;
        position: fixed;
        bottom: 0;
        left: 85%;
    }
    #top div {
        width: 1px;
        height: 20px;
        margin: auto;
        background-color: #5dedcd;
    }
    .copyright {
        font-size: 13px;
    }
}

/*mobile site ends!!!!!!!!!!!!!!!!!!!!!!*/ /*mobile site ends!!!!!!!!!!!!!!!!!!!!!!*/ /*mobile site ends!!!!!!!!!!!!!!!!!!!!!!*/
/*mobile site ends!!!!!!!!!!!!!!!!!!!!!!*/ /*mobile site ends!!!!!!!!!!!!!!!!!!!!!!*/ /*mobile site ends!!!!!!!!!!!!!!!!!!!!!!*/




/*tab site starts!!!!!!!!!!!!!!!!!!!!!!*/ /*tab site starts!!!!!!!!!!!!!!!!!!!!!!*/ /*tab site ends!!!!!!!!!!!!!!!!!!!!!!*/
/*tab site stARTS!!!!!!!!!!!!!!!!!!!!!!*/ /*tab site starts!!!!!!!!!!!!!!!!!!!!!!*/ /*tab site ends!!!!!!!!!!!!!!!!!!!!!!*/

@media (max-width: 1000px) and (min-width: 781px) {
    html {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
        margin: 0;
        padding-top: 200px;
        box-sizing: border-box;
        background-color: #222230;
        color: #b2b9cf;
        font-family: 'League Spartan', sans-serif;
        font-size: 20px;
    }
    #desktop-header {
        height: 65px;
        width: 100%;
        background-color: rgba(34, 34, 48, 0.9);
        box-shadow: 0px 2px 15px rgba(6, 16, 31, 1);
        position: fixed;
        top: 0;
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        z-index: 999;
    }
    #mobile-header {
        height: 65px;
        width: 100%;
        background-color: rgba(34, 34, 48, 0.9);
        box-shadow: 0px 2px 15px rgba(6, 16, 31, 1);
        position: fixed;
        top: 0;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        display: none;
        justify-content: space-between;
        z-index: 999;
        align-items: center;
    }
    .dropdown {
        width: 30%;
        height: 100%;
        text-align: center;
        position: absolute;
        right: 5px;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        right: -5px;
        top: 65px;
        width: 100vw;
        overflow: auto;
        box-shadow: 0px 2px 15px rgba(6, 16, 31, 1);
        z-index: 2;
    }
    #myDropdown {
        background: #222230;
    }
    .dropdown-content a {
        font-size: 20px;
        padding: 30px 16px;
        text-decoration: none;
        display: block;
        transition: 0.3s ease;
    }
    .dropdown a:hover {
        background-color: rgba(93, 237, 205, 0.2);
    }
    .show {
        display: block;
    }
    .dropbtn {
        width: 30px;
        height: 30px;
        background-image: url('https://img.icons8.com/fluency-systems-regular/344/ffffff/drag-list-down.png');
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 20px;
        position: -webkit-relative; /* Safari */
        position: relative;
        top: 17px;
        right: -180px;
        opacity: 1;
        z-index: 2;
        cursor: pointer;
    }
    .logo {
        color: white;
        width: fit-content;
        height: fit-content;
        font-family: 'Dancing Script', sans-serif;
        font-weight: 700;
        font-size: 20px;
        padding: 5px 15px;
        box-sizing: border-box;
        border-radius: 3px 15px;
        border: 2px solid #5dedcd;
    }
    
    .teal {
        color: #5dedcd;
    }
    a {
        text-decoration: none;
        color: #b2b9cf;
        cursor: pointer;
        transition: 0.3s ease-out;
    }
    a:hover {
        color: #5dedcd;
    }
    main {
        width: 80%;
        height: fit-content;
        font-size: 23px;
        margin: auto;
        z-index: 1;
        
    }
    /*first section first section first section*/
    #first {
        width: 100%;
        height: 100vh;
        font-size: 19px;
        padding-top: 80px;
    }
    .khalid {
        color: #e3e6f0;
        font-size: 80px;
        font-weight: 900;
    }
    .web-dev {
        font-size: 80px;
        font-weight: 900;
        color: #969caf;
    }
    button {
        width: fit-content;
        height: fit-content;
        padding: 20px 35px;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid #5dedcd;
        background-color: #222230;
        color: #5dedcd;
        font-size: 20px;
        font-family: 'League Spartan', sans-serif;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }
    button:hover {
        background-color: rgba(93, 237, 205, 0.2);
    }
    .mob-scroll {
        display: block;
        width: fit-content;
        height: fit-content;
        font-size: 20px;
        color: #e3e6f0;
        background-color: #222230;
        padding: 0px, 0px;
        transform: rotate(90deg);
        position: absolute;
        left: -20px;
        bottom: 20px;
        animation: scrolling 1.5s ease-in-out infinite;
    }
    @keyframes scrolling {
        0%, 100% {
            position: absolute;
            bottom: 20px;
        }
        50% {
            position: absolute;
            bottom: 35px;
        }
    }
    /*first section ends!!!! first section ends!!!! first section ends!!!!*/
    
    /*vert section vert section vert section*/
    #vert {
        width: 65px;
        height: fit-content;
        text-align: center;
        position: fixed;
        bottom: 0;
        right: 60px;
        display: none;
    }
    #vert div {
        width: 1px;
        height: 150px;
        margin: auto;
        background-color: #5dedcd;
    }
    .social-img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }
    .social-img:hover {
        transform: scale(1.2);
        background-color: rgba(93, 237, 205, 0.5);
    }
    /*vert section vert section vert section ENDS!!!*/

    #mob-foot-links {
        width: 75%;
        height: fit-content;
        position: static;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .social-img {
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }
    .social-img:hover {
        transform: scale(1.2);
        background-color: rgba(93, 237, 205, 0.5);
    }
    
    /* MOVING vert section vert section vert section*/
    #moving-vert {
        width: 50px;
        height: fit-content;
        position: absolute;
        bottom: 0;
        left: 60px;
    }
    #moving-vert div {
        width: 1px;
        height: 300px;
        margin: auto;
        background-color: #5dedcd;
        animation: moving 4s ease-in-out infinite;
        display: none;
    }
    @keyframes moving {
        0% {
            position: relative;
            bottom: 1px;
            height: 220px;
        }
        50% {
            position: relative;
            bottom: 550px;
            height: 1px;
        }
        100% {
            position: relative;
            bottom: 1px;
            height: 220px;
        }
    } 
    /* MOVING vert section ENDS!! vert section vert section*/
    
    /*ABOUT ME section vert section vert section*/
    #about {
        width: 100%;
        height: fit-content;
        border-right: none;
        padding-top: 50px;
        margin-bottom: 50px;
    }
    
    .heading {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h1 {
        width: fit-content;
        height: fit-content;
        padding: 0;
        color: #e3e6f0;
        font-size: 30px;
        font-weight: 900;
    }
    .horizon-line {
        width: 55%;
        height: 1px;
        background-color: #5dedcd;
    }
    .half1 {
        width: 100%;
    }
    .word {
        line-height: 25px;
    }
    #about-flex {
        width: 100%;
        height: fit-content;
        display: block;
    }
    .half2 {
        width: 60%;
        height: fit-content;
        margin-top: 50px;
        display: block;
        background-color: #5dedcd;
        position: relative;
        left: 40%;
    }
    .khalid-img {
        width: 100%;
        height: auto;
        opacity: 0.6;
    }
    
    /*ABOUT ME section ends!!*/
    
    /*WORKS section vert section vert section*/
    #works {
        width: 100%;
        height: fit-content;
        padding-top: 65px;
    }
    .heading2 {
        width: 100%;
        height: fit-content;
        display: none;
        align-items: center;
        justify-content: space-between;
    }
    .horizon-line2 {
        width: 40%;
        height: 1px;
        background-color: #5dedcd;
        display: none;
    }
    .heading3-mob {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .work-container {
        width: 100%;
        height: fit-content;
        display: none;
        justify-content: center;
        margin-bottom: 200px;
    }
    .fadey {
        width: 100%;
        height: fit-content;
        display: block;
        margin-bottom: 100px;
    }
    .fadeyOut { opacity: 0; }
    .fadeyIn { opacity: 1; }
    .work-img-div {
        width: 100%;
        height: fit-content;
        border-right: none;
        background-color: #222230;
        position: relative;
        top: 0px;
    }
    .work-img-div2 {
        width: 100%;
        height: fit-content;
        background-color: #5dedcd;
        border-left: none;
    }
    .work-img {
        width: 100%;
        height: auto;
        opacity: 1;
        transition: all 0.3s ease;
    }
    .work-img2 {
        width: 100%;
        height: auto;
        opacity: 1;
        transition: all 0.3s ease;
    }
    .caption-box {
        width: 80%;
        height: fit-content;
        text-align: right;
        display: block;
        border-left: 1px solid #5dedcd;
    }
    .caption-box2 {
        width: 80%;
        height: fit-content;
        text-align: left;
        display: none;
        border-right: 1px solid #5dedcd;
    }
    .caption {
        width: 100%;
        height: fit-content;
        padding: 10px 10px;
        box-sizing: border-box;
        background-color: #3c3c53;
        box-shadow: 0px 2px 15px rgba(6, 16, 31, 1);
    }
    .project-title {
        font-weight: 900;
        font-size: 30px;
    }
    /*WORKS section ends!!!*/
    
    /*CONTACT section vert section vert section*/
    footer {
        width: 95%;
        height: fit-content;
        margin: auto;
        z-index: 1;
        text-align: center;
        margin-bottom: 30px;
    }
    .foot-talk {
        width: 90%;
        font-size: 20px;
        line-height: 25px;
        height: fit-content;
        margin: auto;
    }
    .foot-heading {
        width: fit-content;
        height: fit-content;
        margin: auto;
        display: none;
    }
    .get-in {
        font-size: 50px;
        font-weight: 900;
        color: #e3e6f0;
    }
    .dot {
        color: #e3e6f0;
        animation: tayun 5s ease-out infinite;
    }
    @keyframes tayun {
        0%, 100% {
            color: #e3e6f0;
            position: relative;
            left: 0;
        }
        50% {
            color: #5dedcd;
            position: relative;
            left: 100px;
        }
    }
    #top {
        width: 45px;
        height: fit-content;
        background-color: rgba(93, 237, 205, 0.1);
        font-size: 15px;
        text-align: center;
        display: block;
        position: fixed;
        bottom: 0;
        left: 85%;
    }
    #top div {
        width: 1px;
        height: 20px;
        margin: auto;
        background-color: #5dedcd;
    }
    .copyright {
        font-size: 16px;
    }
}
